// Exemplo de como criar um grid customizado e semântico
// Dessa forma conseguimos criar grids usando suas próprias classes,
// sem precisar as classes pré-definidas do Bootstrap,
// o que permite deixar nosso código HTML mais limpo e semântico.
// Veja http://getbootstrap.com/docs/4.0/layout/grid/#mixins

// Recomendado pelo WordPress para definir tamanho máximo das mídias
// Veja https://codex.wordpress.org/Content_Width
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

// Exemplo de construção de um grid semântico com os mixins fornecidos pelo Bootstrap
// Veja http://getbootstrap.com/docs/4.0/layout/grid/#mixins

#wrapper-site-content {
	@include make-container();
	@include make-container-max-widths();
}

#content {
  @include make-row();
}

#primary {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }
}

#secondary {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }
}

#wrapper-navbar .navbar-dark h1.navbar-brand a {
  color: #fff;
}
